{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {# ALERTS #}
        <div id="alerts" class="center">
            <div class="alert alert-success" role="alert" id="alert-success">Your order has been sent!</div>
            <div class="alert alert-danger" role="alert" id="alert-danger">Error occurred. Can't send your message.</div>
            <div class="alert alert-info" role="alert" id="alert-info">You can add next order if you need.</div>
        </div>

        {# FORM #}


        <div id="frontpage-form" class="row">
            {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </span>
                        {{ form_errors(form.customer) }}
                        {{ form_widget(form.customer, {'attr': {'class': 'form-control', 'placeholder': 'Your name or company'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" >
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                        </span>
                        {{ form_errors(form.feedback) }}
                        {{ form_widget(form.feedback, {'attr': {'class': 'form-control', 'placeholder': 'Your phone number, email or address'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group" style="width: 100%">
                        <label for="{{ form.description.vars.id }}">Order description:</label>
                        {{ form_errors(form.description) }}
                        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Leave your order description here...', 'rows':'5'}}) }}
                    </div>
                </div>

                <div class="center">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
                </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        $('#alert-success').hide();
        $('#alert-warning').hide();
        $('#alert-danger').hide();
        $('#alert-info').hide();

        var result = '{{ result }}';

        if( result == 'success' ){
            $('#alert-success').show("fast","swing",setTimeout( function(){$('#alert-success').hide("fast","swing")},5000) );
            $('#alert-info').show("fast","swing");
        } else {
            if (result != ''){
                $('#alert-danger').show("fast","swing",setTimeout( function(){$('#alert-danger').hide("fast","swing")},10000) );
            }
        }


    </script>
{% endblock %}