{% extends 'base.html.twig' %}

{% block header %}
    <a href="{{ path('fos_user_security_logout') }}">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        <strong>Logout</strong>
    </a>
{% endblock %}

{% block body %}
    <div class="container">
        <div class=".col-md-3">

            {# TABLE #}
            <table class="table table-striped" id="orderTable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>status</th>
                    <th>customer</th>
                    <th>feedback</th>
                    <th>description</th>
                    <th>comment</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td id="status{{ order.id }}">
                            {% if order.status == 'new' %}
                                <button onclick="changeStatusButtonAction('new', {{ order.id }})" class="order-status btn btn-success" type="button">New</button>
                            {% else %}
                                <button onclick="changeStatusButtonAction('in_progress', {{ order.id }})" class="order-status btn btn-info" type="button">in_progress</button>
                            {% endif %}
                        </td>
                        <td>{{ order.customer }}</td>
                        <td>{{ order.feedback }}</td>
                        <td>{{ order.description }}</td>
                        <td id="comment{{ order.id }}">{{ order.comment }}</td>
                        <td>
                            <button onclick="redactCommentButtonAction( {{ order.id }} )" class="btn btn-link" type="button">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {# STATUS CHANGE #}
            <div id="statusList">
                <div class="col-sm-4" id="statuses">
                    <h3>Set status to:</h3>
                    <div class="list-group">
                        <button id="in-progress-list-btn" class="list-group-item btn btn-link" onclick="changeStatusListAction('in_progress')" type="button">
                            <div style="text-align: center;">
                                In progress
                            </div>
                        </button>
                        <button class="list-group-item btn btn-link" onclick="changeStatusListAction('closed')" type="button">
                            <div style="text-align: center;">
                                Closed
                            </div>
                        </button>
                    </div>
                    <div style="text-align: center;">
                        <button class="btn btn-danger" onclick="cancel()" type="button" >Cancel</button>
                    </div>
                </div>
            </div>

            {# COMMENT CHANGE #}
            <div id="commentChange">
                <div class="col-sm-4" id="comment">

                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea onfocus="commentChangesTrigger()" class="form-control" rows="5" id="comment-text-area"></textarea>
                    </div>

                    <div class="comment-change-buttons">
                        <button class="btn btn-success" onclick="commentSubmit()" type="button" >
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-danger" onclick="commentCancel()" type="button" >
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var orderId = 0;
        var commentWasChanged = false;

        document.getElementById('statusList').style.display = 'none';
        document.getElementById('comment').style.display = 'none';

        function centerStatusList(){
            var margin = ($(window).width() / 2) - (document.getElementById('statuses').offsetWidth);
            document.getElementById('statuses').style["margin-left"] = margin+'px';
        }
        function centerCommentChange(){
            var margin = ($(window).width() / 2) - (document.getElementById('comment').offsetWidth);
            document.getElementById('comment').style["margin-left"] = margin+'px';
        }

        function changeStatusButtonAction( btnStatus, id ){

            orderId = id;

            document.getElementById('statusList').style.display = '';
            document.getElementById('orderTable').style.display = 'none';
            centerStatusList();
            
            //hide not needed elements
            if ( btnStatus == 'in_progress' ){
                document.getElementById('in-progress-list-btn').style.display = 'none';
            }

        }

        function cancel(){
            document.getElementById('in-progress-list-btn').style.display = '';
            document.getElementById('statusList').style.display = 'none';
            document.getElementById('orderTable').style.display = '';
        }

        function changeStatusListAction( changeTo ){

            if( changeTo == 'closed' ){
                if( confirm('Are yo sure you want to set status "closed" to this order?') ){
                    //continue
                } else {
                    cancel();
                    return;
                }
            }

            $.ajax({
                url: "{{ path('managerChangeStatus') }}",
                method: 'POST',
                data: {
                    status: changeTo,
                    orderId: orderId
                },
                success: function() {
                    //alert('Done');
                    refreshTable();
                }
            });

            document.getElementById('in-progress-list-btn').style.display = '';
            document.getElementById('statusList').style.display = 'none';
            document.getElementById('orderTable').style.display = '';
        }

        function refreshTable(){
            location.reload();
        }

        function redactCommentButtonAction( thisOrderId ){

            orderId = thisOrderId;

            document.getElementById('comment').style.display = '';
            centerCommentChange();

            var commentText = document.getElementById( 'comment' + thisOrderId ).innerHTML;
            document.getElementById('comment-text-area').value = commentText.replace(/\r?<br>/g, '\n');

            document.getElementById('orderTable').style.display = 'none';
        }

        function commentSubmit(){

            if ( commentWasChanged ) {

                var comment = document.getElementById('comment-text-area').value;

                $.ajax({
                    url: "{{ path('managerChangeComment') }}",
                    method: 'POST',
                    data: {
                        comment: comment,
                        orderId: orderId
                    },
                    success: function () {
                        document.getElementById('comment' + orderId).innerHTML = comment.replace(/\r?\n/g, '<br>');
                        document.getElementById('comment-text-area').value = '';
                        document.getElementById('comment').style.display = 'none';
                        document.getElementById('orderTable').style.display = '';
                    },
                    fail: function () {
                        alert('Fail');
                    }
                });
            } else {
                commentCancel();
            }
        }

        function commentCancel(){
            commentWasChanged = false;
            document.getElementById('comment-text-area').value = '';
            document.getElementById('comment').style.display = 'none';
            document.getElementById('orderTable').style.display = '';
        }

        function commentChangesTrigger(){
            commentWasChanged = true;
        }

    </script>
    {% for order in orders %}
        <script>
            var text = document.getElementById( 'comment{{ order.id }}').innerHTML.replace(/\r?\n/g, '<br>');
            document.getElementById( 'comment{{ order.id }}' ).innerHTML = text;
        </script>
    {% endfor %}
{% endblock %}