{% extends 'base.html.twig' %}

{% block header %}
    <a href="{{ path('fos_user_security_logout') }}">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        <strong>Logout</strong>
    </a>
{% endblock %}

{% block body %}
    <div class="container">
        <div class=".col-md-3">
            {#links:#}
            <ul class="nav nav-tabs" role="tablist">
                <li id="new" class="active" role="presentation">
                    <a href="{{ path('moderatorPage') }}">New</a>
                </li>
                <li id="transmitted" role="presentation">
                    <a href="{{ path('moderatorPage') }}?showCurrent=1">Transmitted</a>
                </li>
                <li id="closed" role="presentation">
                    <a href="{{ path('moderatorPage') }}?showClosed=1">Closed</a>
                </li>
            </ul>

            <div class="moderator-table">
            {# table: #}
            {% if table == 'new' %}
                {{ include('app/tables/moderatorNew.html.twig', { 'orders': orders, 'managers': managers }) }}

            {% elseif table == 'in_progress' %}
                {{ include('app/tables/moderatorInProgress.html.twig', { 'orders': orders }) }}

            {% elseif table == 'closed' %}
                {{ include('app/tables/moderatorClosed.html.twig', { 'orders': orders }) }}

            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
