<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Order App{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" />

        {% block stylesheets %}

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="container">
                <div class="header clearfix">
                    <nav>
                        <ul class="nav nav-pills pull-right">
                            <li role="presentation">
                                {% block header %}
                                <a href="{{ path('fos_user_security_login') }}">
                                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                    <strong>Login</strong></a>
                                {% endblock %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="wrap" class="container body">
            {% block body %}
            {% endblock %}
        </div>

        <script src="{{ asset('bundles/app/js/jquery-2.2.1.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
