<table class="table table-striped" id="orderTable">
    <thead>
    <tr>
        <th></th>
        <th>#</th>
        <th>customer</th>
        <th>feedback</th>
        <th>description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr id="{{ order.id }}">
            <td style="width: 0px;"><button onclick="deleteOrder({{ order.id }})" class="btn btn-danger" type="button">Close order</button></td>
            <td>{{ order.id }}</td>
            <td>{{ order.customer }}</td>
            <td>{{ order.feedback }}</td>
            <td id="description{{ order.id }}">{{ order.description }}</td>
            <td style="width: 0px;"><button onclick="sentToManager({{ order.id }})" class="btn btn-success" type="button">Sent to manager...</button></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div id="moderatorList">
    <div class="col-sm-4" id="managers">
        <h2>Avalible managers:</h2>
        <div class="list-group">
            {% for manager in managers %}
                <button class="list-group-item btn btn-link" onclick="selectManager({{ manager.id }})" type="button">
                    <div style="text-align: center;">
                        {{ manager.username }}
                    </div>
                </button>
            {% endfor %}
        </div>
        <div style="text-align: center;">
            <button class="btn btn-danger" onclick="cancel()" type="button" >Cancel</button>
        </div>
    </div>
</div>

<script>
    document.getElementById('moderatorList').style.display = 'none';
    document.getElementById('new').className = 'active';
    document.getElementById('transmitted').className = '';
    document.getElementById('closed').className = '';

    var selectedOrderId = 0;

    function centerModeratorList(){
        var margin = (document.getElementById('moderatorList').offsetWidth / 2) - (document.getElementById('managers').offsetWidth / 2);
        document.getElementById('managers').style["margin-left"] = margin + 'px';
    }

    function deleteOrder( orderId ){
        var result = confirm( 'Close order #  ' + orderId +' ?' );
        if( result ){
            $.ajax({
                url: "{{ path('moderatorClose') }}",
                method: 'POST',
                data: {
                    orderId: orderId
                },
                success: function( data ) {
                    //make this order to disappear
                    document.getElementById( orderId ).style.display = 'none';
                },
                error: function(){
                    alert("Request error! Can't do it.");
                }
            });
        }
    }

    function sentToManager( orderId ){
        selectedOrderId = orderId;
        document.getElementById('orderTable').style.display = 'none';
        document.getElementById('moderatorList').style.display = '';
        centerModeratorList();
    }

    function selectManager( managerId ){
        document.getElementById('moderatorList').style.display = 'none';
        document.getElementById('orderTable').style.display = '';
        //todo: make Ajax call
        $.ajax({
            url: "{{ path('moderatorSentToManager') }}",
            method: 'POST',
            data: {
                orderId: selectedOrderId,
                managerId: managerId
            },
            success: function( data ) {
                //make this order to disappear
                document.getElementById( selectedOrderId ).style.display = 'none';
            },
            error: function(){
                alert("Request error! Can't do it.");
            }
        });
    }

    function cancel(){
        document.getElementById('moderatorList').style.display = 'none';
        document.getElementById('orderTable').style.display = '';
    }
</script>
{% for order in orders %}
    <script>
        var text = document.getElementById( 'description{{ order.id }}').innerHTML.replace(/\r?\n/g, '<br>');
        document.getElementById( 'description{{ order.id }}' ).innerHTML = text;
    </script>
{% endfor %}