<table class="table table-striped" id="orderTable">
    <thead>
    <tr>
        <th>#</th>
        <th>customer</th>
        <th>feedback</th>
        <th>description</th>
        <th>comment</th>
        <th>executor</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.customer }}</td>
            <td>{{ order.feedback }}</td>
            <td id="description{{ order.id }}">{{ order.description }}</td>
            <td class="center">
                {% if order.status == 'new' %}
                    <span class="label label-success">new</span>
                {% elseif order.status == 'in_progress' %}
                    <span class="label label-info">in progress</span>
                {% else %}
                    {{ order.status }}
                {%  endif %}
            </td>
            <td id="comment{{ order.id }}">{{ order.comment }}</td>
            <td>
                {% for manager in managers %}
                    {% if manager.id == order.executor %}
                        {{ manager.username }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    document.getElementById('new').className = '';
    document.getElementById('transmitted').className = 'active';
    document.getElementById('closed').className = '';
</script>
{% for order in orders %}
    <script>
        var text = document.getElementById( 'description{{ order.id }}').innerHTML.replace(/\r?\n/g, '<br>');
        document.getElementById( 'description{{ order.id }}' ).innerHTML = text;

        text = document.getElementById( 'comment{{ order.id }}').innerHTML.replace(/\r?\n/g, '<br>');
        document.getElementById( 'comment{{ order.id }}' ).innerHTML = text;
    </script>
{% endfor %}