{% extends "FOSUserBundle::layout.html.twig" %}


{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

{#
    <div id="frontpage-form">
        <div class="form-group">
            <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </span>
                <input id="name" type="text" class="form-control" placeholder="Your name or company" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
            <span class="input-group-addon" >
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            </span>
                <input id="feedback" type="text" class="form-control" placeholder="Your phone number, email or address" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="form-group">
            <label for="comment">Order discription:</label>
            <textarea class="form-control" rows="5" id="comment" placeholder="Leave your order description here..."></textarea>
        </div>

        <div class="center">
            <button onclick="submitForm()" class="btn btn-success" type="button">Place order</button>
        </div>
    </div>
    #}
<div id="frontpage-form" style="width: 25%; position: absolute; align-self: center">
    <form  action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="form-group">
            <label for="username">{{ 'security.login.username'|trans }}:</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </span>
                    {#<input id="name" type="text" >#}
                <input class="form-control" placeholder="Login" aria-describedby="basic-addon1" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>

            <label style="margin-top: 15px" for="password">{{ 'security.login.password'|trans }}:</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <input class="form-control" placeholder="Password" aria-describedby="basic-addon1" type="password" id="password" name="_password" required="required" />
            </div>
            <div class="input-group" style="margin-top: 15px" >
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>
            <div class="input-group" style="margin-left: 25%; width: 50%; margin-top: 15px">
                <input style="width: 100%;" class="btn btn-info" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </div>
        </div>

    </form>

    <div class="row">
        <div class="col-md-6">
        <h4>moderator:</h4>
            <p>login: admin <br> password: admin</p>

        </div>
        <div class="col-md-6">
        <h4>managers:</h4>
            <p>login: manager1 <br>password: 1</p>
            <p>login: manager2 <br>password: 2</p>
            <p>login: manager3 <br>password: 3</p>
        </div>
    </div>

</div>
{% endblock fos_user_content %}

{% block javascripts %}
    <script>
        function fixFooter(){
            if( $('#wrap')[0].offsetHeight > ($(window).height() - 55) ){
                $('footer')[0].style.position = 'relative';
            } else {
                $('footer')[0].style.position = 'absolute';
            }
        }
        fixFooter();
    </script>
{% endblock %}
