<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Log in{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" />

        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
    <header>
        <div class="container">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation">

                            {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {% else %}#}
                                <a href="{{ path('homepage') }}">
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                    <strong>Back to main</strong>
                                </a>
                            {#{% endif %}#}
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div id="wrap" class="container">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

        <footer class="footer ">
            {#{% block footer %}#}
            <div class="container footer-content">
                <p class="text-muted footer-text">Autor: Ziankevich Rychard (email: ziankevichrichard@gmail.com)</p>
            </div>
            {#{% endblock %}#}
        </footer>

        <script src="{{ asset('bundles/app/js/jquery-2.2.1.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
